<div class="widget">
  <h4 class="title">SEARCH</h4>
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go</button>
      </span>
    </div>
  </form>
</div>

<div class="widget">
<h4 class="title">ELSEWHERE</h4>
<ol class="list-unstyled">
  <li><a href="https://github.com/oraxin/">GitHub</a></li>
  <li><a href="#">Twitter</a></li>
</ol>
</div>

