{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main big masthead }}
{{#author}}
<div class="jumbotron hidden-xs masthead" {{#if @blog.cover}}style="background: url({{@blog.cover}}) no-repeat center center"{{/if}}>
  <div class="container">
    <h1>{{name}}</h1>
    <h2>
      {{plural ../pagination.total empty='No article' singular='% articles' plural='% articles'}}
    </h2>
  </div>
</div>
{{/author}}


{{! The main content area on the homepage }}
<div class="container">
  <div class="row">

    <div class="col-md-8 content">

      {{! The tag below includes the post loop - partials/loop.hbs }}
      {{> "loop"}}

    </div>

    <div class="col-md-3 col-md-offset-1 sidebar">

      {{! The tag below includes the sidebar - partials/sidebar.hbs }}
      {{> "sidebar"}}

    </div>

  </div>
</div>
